{% extends 'common.html' %}

{% block title %}Students{% endblock %}

{% block students_active %}active{% endblock %}

{% block content %}
    <h1 class="mt-5">Student Page</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{% if category == 'error' %}alert alert-danger{% elif category == 'success' %}alert alert-success{% else %}alert alert-info{% endif %} role="alert">
                    <ul>
                        <li>{{ message }}</li>
                    </ul>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="POST" action="/students">
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" required>
        <br>
        <label for="family_name">Family Name:</label>
        <input type="text" name="family_name" required>
        <br>
        <label for="dob">Date of Birth:</label>
        <input type="date" name="dob" required>
        <br>
        <button type="submit">Add Student</button>
    </form>
    <hr>
    <h2>Student List</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Family Name</th>
                <th scope="col">Date of Birth</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.first_name }}</td>
                    <td>{{ student.family_name }}</td>
                    <td>{{ student.dob }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
